.app {
  display: grid;
  gap: 1rem; // 각 영역간의 Gap 추가
  grid-template-columns: repeat(3, 1fr); //동일한 비율(3개의 컬럼)
  grid-template-areas:
    "header header header"
    "contents contents sidebar"
    "footer footer footer";
  border: 3px solid #333;
  width: 1024px;
  max-width: 100%;
  margin: 20px auto; // 0 상하, auto 좌우
  .app-header {
    background-color: lightblue;
    display: flex; // grid, flex
    justify-content: space-between; //좌우 정렬
    align-items: center; // 현 위치에서 가운데
    grid-area: header;

    .page-title {

    }

    .search {

    }

    .topnav {

    }
  }

  .app-footer {
    grid-area: footer;
    text-align: center;
    //justify-self:center;
  }

  .side-bar {
    grid-area: sidebar;
  }

  .contents {
    grid-area: contents;
  }

}

.suggetion {
  display: grid;
  grid-template-columns: 32px 2fr 1fr; //3ㄱㅐ의 컬럼을 정의
  align-items: center;
  margin-bottom: 0.5rem;
  .avatar {
    justify-self: center;
  }

  .username {

  }

  .follow-btn {
    justify-self: right;
  }
}



